<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta charset="UTF-8">
    	<!-- <meta name="msvalidate.01" content="018E54A0291F536C45C2232594BB7F7A" />  Bing validation -->
    	<meta name="description" content="<?php echo $description ?>"> <!-- 155 character limit to be safe -->
    	<meta name="robots" content="NOODP"> <!-- prevents engines from getting snippet from ODP -->
    	<meta name="viewport" content="initial-scale=1, maximum-scale=1"> <!-- variables: width=device-width, maximum-scale=1.0, user-scalable=0  (remember to keep comma)-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/common.css">

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/navigation-menu.js"></script>
    	<script type="text/javascript" src="../js/parallax-window.js"></script>
        <script type="text/javascript" src="../js/scroll-on-page.js"></script>
        <script type="text/javascript" src="../js/fade-in.js"></script>
        <script type="text/javascript" src="../js/super-simple-slider.js"></script>
        <script type="text/javascript" src="../js/getColor.js"></script>
        <script type="text/javascript" src="../js/color.js"></script>
 
    </head>

    <body>
    <div class="navigation" role="banner">
        <div class="navigation-wrapper container">
            <a class="logo small" href="/">Reading</a>
            <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><div class="menu-icon"></div>Menu</a>
          </div>
    </div>
