// Config color settings
$shiraz:             #851a3d;
$light-carmine-pink: #df5f71;
$azalea:             #f7c5c6;


// Config color settings
$orange: #ff9900;
$white:	 #ffffff;
$color-text: #111111;

// Border, Shadow etc
$color-border: rgba(0, 0, 0, .1);
$color-shadow: rgba(0, 0, 0, .3);
$color-overlay: rgba(0, 0, 0, .6);
