$default-font-size: 1rem;
$default-line-height: 1.5;
$default-font-family: 'Roboto Slab', Arial, sans-serif;

$micro-font-size: .65rem;
$tiny-font-size: .75rem;
$small-font-size: .85rem;

$big-font-size: 1.1rem;
$large-font-size: 1.4rem;
$huge-font-size: 1.75rem;
$enormous-font-size: 2.8rem;
$gigantic-font-size: 5rem;
